@page
@model ASP.Net_application.Pages.Books.createBookModel
@{
}

<p>Create a book</p>
@if(Model.errorMessage.Length>0)
{
    <div id="error">
        <br> <div  class="alert-warning alert-dismissible">@Model.errorMessage</div><br/>
        <button type="button" class="btn-close" data-dismiss="alert"
        onClick="
            const element = document.getElementById('error');
            element.remove();
            "></button>
    </div>
}
@if (Model.successMessage.Length > 0)
{
    <div id="success">
        <br> <div class="alert-warning alert-dismissible">@Model.successMessage</div><br />
        <button type="button" class="btn-close" data-dismiss="alert"
                onClick="
            const element = document.getElementById('success');
            element.remove();
            "></button>
    </div>
}

<form method="post">
    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book Id</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="Id" value="" required />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book Title</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="Title" value="" required />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book Category</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="Category" value="" required />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book Author</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="Author" value="" required />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book Publication</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="Publication" value="" required />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book Publish Date</label>
        <div class="col-sm-4">
            <input type="date" class="form-control" name="Publish Date" value="" required />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book Edition</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" name="Book Edition" value="" required />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book Price</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" name="Price" value="" required min="100" max="1000"/>
        </div>
    </div>

    <div>
        <button type="submit" class="btn-primary btn-sm style=" text-decoration: none"">Submit</button>
    </div>

</form>
