@page
@model ASP.Net_application.Pages.Books.createBookModel
@{
}

<p>Create a book</p>

<form method="post">
    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book Id</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="Id" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book Title</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="Title" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book Category</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="Category" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book Author</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="Author" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book Publication</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="Publication" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book Publish Date</label>
        <div class="col-sm-4">
            <input type="date" class="form-control" name="Publish Date" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book Edition</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" name="Book Edition" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book Price</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" name="Price" />
        </div>
    </div>

    <div>
        <button type="submit" class="btn-primary">Submit</button>
    </div>
</form>